{% extends 'base.html' %}
{% load static %}

{% block title %}Login - OceanBlue App{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}
    <div class="container narrow-container">
        <header class="auth-header">
            <h1>Reset Your Password</h1>
            <p class="subtitle">Enter your email to receive a recovery link</p>
        </header>
        
        <form id="recoveryForm" >
            {% csrf_token %}
             {{ form.as_p }}
            {% if form.non_field_errors %}
                <div class="error-message">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required placeholder="your.email@example.com">
            </div>
            
            <button type="submit" class="btn-primary btn-accent">Send Recovery Link</button>
            
            <div class="auth-link">
                Remember your password? <a href="{% url 'login' %}" class="auth-link-text">Sign in</a>
            </div>
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>